.grid-boundary
  fill: transparent
  stroke: transparent
  stroke-width: 0
.chart-line
  stroke-width: 2
.chart-legend
  display: none
.grid-line
  stroke: white
  stroke-width: 1
.axis
  .domain
    stroke: #222222
    stroke-width: .5
  text
    font-size: .66em
    font-weight: normal
    letter-spacing: .02em
    fill: #545454
.data-point
  stroke-width: 0
  fill: transparent
  pointer-events: none //TODO: only for draggable points
  .loose
    stroke-width: 5
    pointer-events: all
  &.active
    stroke-width: 2
    fill: $light-gray
  &.visuallyhidden
    stroke-width: 0!important
    fill: transparent!important
  &.draggable
    pointer-events: all
    &.hovered
      fill: black
.tool_tip
  position: absolute
  visibility: hidden
  padding: 2px 5px
  color: white
  background-color: black
  opacity: .8
  font-size: .7em
  pointer-events: none
  &.active
    visibility: visible