*{margin:0;padding:0;}
#heading{background:url(images/header.png);}
#heading{position:absolute;top:0;left:0;right:0;padding:0 1em;font:bold 2em/3.5em Helvetica,sans-serif;}
#heading{color:white;text-shadow:0 0 5px #444;border-bottom:1px solid #262;margin-top:-1px;}
#heading span{background:20px 8px url(images/RDCEP.png) no-repeat;display:block;float:left;}
#heading span{padding-left:180px;height:150px;margin-bottom:-100px;margin-right:0.5ex;}
#heading span{position:relative;z-index:100;}
#display-help{position:absolute;top:3em;right:2em;z-index:10;display:block;}
#display-help{font:0.9em Helvetica,sans-serif;color:white;padding:0.4em;}
#display-help{text-decoration:none;cursor:pointer;}
#display-help:hover{text-decoration:underline;}
#view-source{position:absolute;top:3em;right:11em;z-index:10;display:block;}
#view-source{font:0.9em Helvetica,sans-serif;color:white;padding:0.4em;}
#view-source{text-decoration:none;}
#view-source:hover{text-decoration:underline;}
#sidebar{position:absolute;top:9.5em;left:0;width:18em;background-color:#eee;bottom:0;border-right:1px solid #aaa;height:100%}
#back-to-rdcep{position:absolute;height:2.5em;top:7em;left:0;right:0;background-color:#596D26;}
#back-to-rdcep{border-top:1px solid #697E33;border-bottom:1px solid #697E33;margin-top:-2px;padding-left:18.5em;}
#back-to-rdcep a{color:#eee;font:0.9em/2.8em Helvetica,sans-serif;text-decoration:none;}
#back-to-rdcep a:hover{color:white;}
#submission{position:absolute;top:0;left:0;right:0;bottom:0px;}
#parameters{position:absolute;top:0;left:0;right:0;bottom:1.8em;overflow:auto;border-bottom:1px solid #ddd;}
#parameters.has-tabs{padding-top:2em;}
#submission h2{font:bold 0.8em Helvetica,sans-serif;padding:1.5em 1em 0.5em 1em;}
#submission li{list-style-type:none;font:0.8em Helvetica,sans-serif;padding:0.5em 1em;position:relative;}
#submission #parameters input,#submission #parameters .fd-slider{position:absolute;right:1em;width:5em;top:0.4em;}
#submission .label{position:absolute;right:6em;width:4em;text-align:right;color:#666;}
#submission select{position:absolute;right:1em;width:8em;}
#submission sub,#submission sup{font-size:0.7em;}
#controls{position:absolute;bottom:0px;height:1.5em;left:0;right:0;text-align:right;}
#controls{padding-top:0.4em;border-bottom:1px solid #999;}
#controls input{margin-right:0.4em;}
#runs{position:absolute;left:0;bottom:0;right:0;z-index:10;z-index:10;overflow:auto;height:0px;}
#runs label{background-color:#eee;border-top:1px solid #bbb;font:0.8em/30px sans-serif;}
#runs label{position:relative;display:block;padding:10px 30px;}
#runs li{list-style-type:none;}
#runs li img{position:absolute;top:1.5em;right:1em;}
#runs li .slab{position:absolute;top:1.5em;left:1em;width:0.8em;height:0.8em;border:1px solid #000;}
#runs li input{position:absolute;right:15px;top:20px;}
#content{position:absolute;top:9.5em;left:18em;right:0;bottom:0;overflow:auto;height:100%}
#content .graph{float:left;}
#content .initial{position:absolute;background-color:#eee;font:1em/1.5em Helvetica,sans-serif;}
#content .initial{top:3em;left:4em;bottom:4em;right:4em;border-radius:1em;padding:2em;}
#content .initial p{margin-bottom:1em;}
#content.hasruns .initial{display:none;}
#content.hasnoruns #four-graphs{display:none;}
#content.hasnoruns #custom-graph{display:none;}
#content.hasnoruns #download-data{display:none;}
#content.hasnoruns .tabs{display:none !important;}
#content .tabs{background-color:#eee;margin-left:1px;}
#content .tabs .selected{background-color:#fff;}-
#content>div>div>div{display:none !important;}
#download-data{position:absolute;right:1em;bottom:0;}
#download-data input{display:block;border:0px solid red;background-color:#eee;border:1px solid #ccc;}
#download-data input{font:0.7em Helvetica,sans-serif;padding:0.5em;border-bottom:none;}
#download-data input{cursor:pointer;}
#download-data textarea{display:none;}
#four-graphs{position:absolute;top:2em;left:1px;right:0;bottom:0;}
#custom-graph{position:absolute;top:2em;left:1px;right:0;bottom:0;}
#graph-controls{position:absolute;bottom:0;left:0px;right:0;height:6.5em;background-color:#eee;}
#graph-controls{border-top:1px solid #ccc;font:0.8em Helvetica,sans-serif;}
#graph-controls div{float:left;width:15em;border-right:1px solid #ccc;padding:1em 2em;height:5em;}
#graph-controls h2{font:bold 1em Helvetica,sans-serif;text-transform:uppercase;}
#graph-controls label,#graph-controls select{width:15em;display:block;}
#graph-controls label{padding:0.5em 1em;font-size:0.9em;}
#graph-controls div.short{width:7.5em;}
#graph-controls .short input,#graph-controls .short select{width:7.5em;}
#overlay{opacity:0;display:none;}
#overlay .slug{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#000;}
#overlay .slug{opacity:0.5;z-index:1000;}
#overlay .article{padding:3em;width:40em;margin:0 auto;position:absolute;overflow:auto;}
#overlay .article{top:200px;left:0;right:0;bottom:0;border-left:1px solid #999;border-right:1px solid #999;}
#overlay .article{background-color:#fff;font:0.9em/1.7em Helvetica,sans-serif;z-index:2000;}
#overlay .article h1{font:1.5em/2.5em Helvetica,sans-serif;}
#overlay .article h2{font:bold 1em/2.5em Helvetica,sans-serif;text-transform:uppercase;}
#overlay .article h3{font:bold 1em/2.5em Helvetica,sans-serif;color:#333;}
#overlay .article h4{font:bold 0.9em/2.5em Helvetica,sans-serif;color:#333;}
#overlay .article h5{font:bold 0.8em/2.5em Helvetica,sans-serif;color:#333;}
#overlay .article p{margin-bottom:1em;}
#overlay .tabs{background-color:#eee;margin-left:1px;}
#overlay .tabs .selected{background-color:#fff;}
#hide-help{position:absolute;top:0.5em;right:1.5em;color:#222;font:0.9em Helvetica,sans-serif;}
#MathJax_Message{display:none !important;}

.tabs{height:2.4em;font:0.8em/1em Helvetica,sans-serif;position:absolute;top:0;left:0;right:0;}
.tabs{background-color:#fff;border-bottom:1px solid #ccc;}
.tabs a{text-decoration:none;color:#000;display:block;float:left;padding:0.8em;}
.tabs a{border-right:1px solid transparent;border-left:1px solid transparent;}
.tabs a.selected{background-color:#eee;border-color:#ccc;}
.tab.notselected{display:none;}