{% extends 'base_page.html' %}
{% block content %}
<div id=text_wrap>
<div id=text_bkgd></div>
  <div class="pane half error">
    <h2>{% block error_code %}{% endblock %}</h2>
    <p>{% block error_text %}{% endblock %}
      If you think this is an error, you can contact us at
      <a href=mailto:info-rdcep@ci.uchicago.edu>info-rdcep@ci.uchicago.edu</a>.
      Otherwise, you might try one of the links below:</p>
    <ul>
      <li><a class="block blue" href="{{ url_for('webdice.standard') }}">Standard inputs</a></li>
      <li><a class="block vermilion" href={{ url_for('webdice.advanced') }}>Advanced inputs</a></li>
    </ul>
  </div>
</div>
{% endblock %}