{% macro render_menu(version) %}
  <li><h1><a href="{{ url_for('webdice.index') }}">webDICE</a></h1></li>
  <li{% if version == 'standard' %} class=active{% endif %}>
    <a href="{{ url_for('webdice.standard') }}">Standard</a></li>
  <li id=advanced_pages{% if version == 'advanced' %} class=active{% endif %}>
    <a href="{{ url_for('webdice.advanced') }}">Advanced</a></li>
  <li{% if version == 'documentation' %} class=active{% endif %}>
    <a href={{ url_for('webdice.documentation') }}>Documentation</a></li>
{% endmacro %}