{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block headjs -%}
  <script type="text/javascript">
    Options = window.Options || { };
    Options.runs = {};
    Options.dice_version = {% if dice_version %}{{ dice_version|safe }}{% else %}2007{% endif %};
  </script>
{%- endblock %}

{% block page %}
  <header id=main_nav>

    <nav>
      <ul id=top_nav class="clearfix">
        {% block main_menu %}
        {{ macros.render_menu() }}
        {% endblock %}
      </ul>
    </nav>

    <div id=title_legend_wrap>
      <div id=title_legend>
      {% block title_tabs %}
      {% endblock %}
      </div>
    </div>

  </header>

  <article id=main_content>
  {% block content %}
  {% endblock %}
  </article>

  <div id=tool_tip></div>


  <div id=footer_wrap>
    <footer id=main_footer class=clearfix>
      <div id=footer_logo>
        <a href="https://www.rdcep.org/">
          <img src="{{ url_for('webdice.static', filename='images/brand/rdcep_logo_60.png') }}" alt>
        </a>
      </div>
      <div id=footer_attribution>
        <h2><a href="https://www.rdcep.org/">RDCEP</a></h2>
        <p>webDICE is built and maintained by the Center for
          Robust Decision Making on Climate and Energy Policy at the University
          of Chicago. Questions and comments should be directed to
          <a href=mailto:info-rdcep@ci.uchicago.edu>info-rdcep@ci.uchicago.edu</a>.
          </p>
        <p>Funded under NSF Decision Making Under Uncertainty Program.
          Award No. 0951576</p>
      </div>
    </footer>
  </div>

  {% block bodyjs %}
    {% assets 'js_slider', 'js_webdice' %}
    <script src={{ ASSET_URL }}></script>
    {% endassets %}
  {% endblock %}

{% endblock %}