{% extends 'base.html' %}
{% block headjs -%}
  <script type="text/javascript">
    Options = window.Options || { };
    Options.runs = {};
    Options.dice_version = {% if dice_version %}{{ dice_version|safe }}{% else %}2007{% endif %};
  </script>
{%- endblock %}
{% block page %}
  <header id=main_nav>
    <nav>
      <ul id=top_nav class="clearfix">
        <li><h1><a href="{{ url_for('webdice.index') }}">webDICE</a></h1></li>
        <li><a href="{{ url_for('webdice.standard') }}">Standard</a></li>
        <li id=advanced_pages>
          <a class=dead-hover>Advanced</a>
          <ul>
            <li><a href="{{ url_for('webdice.advanced', year=2007) }}">2007</a></li>
            <li><a href="{{ url_for('webdice.advanced', year=2010) }}">2010</a></li>
          </ul>
        </li>
        <li><a href>Documentation</a><ul>
          <!-- switch help forbasic and advanced -->
          <li><a target=_blank href="{{ url_for('webdice.static', filename='docs/webdice_basic_help.pdf') }}">Basic</a></li>
          <li><a target=_blank href="{{ url_for('webdice.static', filename='docs/webdice_intermediate_help.pdf') }}">Intermediate</a></li>
          <li><a target=_blank href="{{ url_for('webdice.static', filename='docs/webdice_equation_help.pdf') }}">Equations</a></li>
          <li><a target=_blank href="https://www.github.com/RDCEP/chicagowebdice/">View source</a></li>
        </ul></li>
      </ul>
    </nav>
    <div id=title_legend_wrap>
      <div id=title_legend>
        <ul class=tabs>
          <li id=link-to-essential data-pane=essential class="graph-tab selected">Essential</li>
          <li id=link-to-climate data-pane=climate class=graph-tab>Climate</li>
          <li id=link-to-economy data-pane=economy class=graph-tab>Economy</li>
          <li id=link-to-policy data-pane=policy class=graph-tab>Policy</li>
          <li id=link-to-custom data-pane=custom class=graph-tab>Customizable</li>
        </ul>
        <ul id=parameters_and_runs class=tabs>
          <li id=parameters_tab data-pane=parameters class=option-tab>Parameters</li>
          <li id=runs_tab data-pane=runs class=option-tab>Runs</li>
        </ul>
      </div>
    </div>
  </header>

  <article id=main_content>

{#  <div id=sidebar>#}
{#  {% block sidebar %}{% endblock %}#}
{#  </div>#}

  {% block content %}
  <div id=graphs_wrap>

    <div id=graphs_bkgd></div>

    <div id=essential_graphs class="pane graph-pane selected" data-pane=essential>
      <div class="small-graph graph" id=temp_atmosphere_graph><div class=bkgd></div></div>
      <div class="small-graph graph" id=consumption_pc_graph><div class=bkgd></div></div>
      <div class="small-graph graph" id=mass_atmosphere_graph><div class=bkgd></div></div>
      <div class="small-graph graph" id=emissions_total_graph><div class=bkgd></div></div>
    </div>
    <div id=climate_graphs class="pane graph-pane" data-pane=climate>
      <div class="small-graph graph" id=mass_upper_graph></div>
      <div class="small-graph graph" id=mass_lower_graph></div>
      <div class="small-graph graph" id=temp_lower_graph></div>
    </div>
    <div id=economy_graphs class="pane graph-pane" data-pane=economy>
      <div class="small-graph graph" id=productivity_graph></div>
      <div class="small-graph graph" id=backstop_growth_graph></div>
      <div class="small-graph graph" id=carbon_intensity_graph></div>
      <div class="small-graph graph" id=damages_graph></div>
    </div>
    <div id=policy_graphs class="pane graph-pane" data-pane=policy>
      <div class="small-graph graph" id=scc_graph></div>
      <div class="small-graph graph" id=tax_rate_graph></div>
      <div class="small-graph graph" id=abatement_graph></div>
      <div class="small-graph graph" id=output_abate_graph></div>
    </div>
    <div id=custom_graphs class="pane graph-pane" data-pane=custom>
      <div id=large-graph>
        <div id=twin_graph class="large-graph graph"></div>
        <div id=custom_graph class="large-graph graph"></div>
        <div id=custom_graph_zoom style="height:10%;"></div>
      </div>
      <div id=graph-controls>
        <div>
          <h2>X-Axis</h2>
          <select id=select-x-axis>
            <option value=year>Year</option>
            {% block xaxis %}{% endblock %}
          </select>
          <input type=checkbox id=logarithmic_x class=logarithmic-axis disabled>
          <label for=logarithmic_x>Logarithmic</label>
        </div>
        <div>
          <h2>Y-Axis</h2>
          <select id=select-y-axis>
            {% block yaxis %}{% endblock %}
          </select>
          <input type=checkbox id=logarithmic_y class=logarithmic-axis>
          <label for=logarithmic_y>Logarithmic</label>
        </div>
        <div>
          <h2>Y-Axis 2</h2>
          <select id=select-y2-axis>
            <option value=none>None</option>
            {% block yaxis2 %}{% endblock %}
          </select>
          <input type=checkbox id=logarithmic_y2 class=logarithmic-axis disabled>
          <label for=logarithmic_y2>Logarithmic</label>
        </div>
{#        <div>#}
{#          <h2>Labels</h2>#}
{#          <select id=series-labels>#}
{#            <option value=none>None</option>#}
{#            <option value=years>Years</option>#}
{#          </select>#}
{#        </div>#}
      </div>
    </div>
  <img class=loader_gif src="{{ url_for('webdice.static', filename='images/loadinfo_1.gif') }}">
  </div>
  {% block parameters %}{% endblock %}
  {% include 'modules/runs.html' %}
  {% endblock %}


  </article>

{% block bodyjs %}
<script src="{{ url_for('webdice.static', filename='js/webdice_hash.js') }}?{{ now }}"></script>
<script src="{{ url_for('webdice.static', filename='js/stacked_chart.js') }}?{{ now }}"></script>
<script src="{{ url_for('webdice.static', filename='js/webdice_param_eq.js') }}?{{ now }}"></script>
<script src="{{ url_for('webdice.static', filename='js/webdice_download_svg.js') }}?{{ now }}"></script>
<script src="{{ url_for('webdice.static', filename='js/webdice_download_csv.js') }}?{{ now }}"></script>
<script src="{{ url_for('webdice.static', filename='js/main.js') }}?{{ now }}"></script>

{% endblock %}
{% endblock %}