<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RDCEP | webDICE</title>
  {% assets 'css_main' %}
  <link rel="stylesheet" href="{{ ASSET_URL }}" media="screen" title="Default Stylesheet">
  {% endassets %}
  {% assets 'js_vendor' %}
      <script src=//cdnjs.cloudflare.com/ajax/libs/json2/20130526/json2.min.js></script>
      <script src=//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js></script>
      <script src=//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js></script>
      <script>(window.d3 && window.JSON && window.Modernizr) || document.write('<script src="{{ ASSET_URL }}">\x3C/script>')</script>
    {% endassets %}
  <link rel=icon href={{ url_for('webdice.static', filename='images/brand/rdcep_logo_16.png') }}>
  {% block headcss %}{% endblock %}
  {% block headjs %}{% endblock %}
</head>
<body>
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div id=wrapper>
  {% block page %}{% endblock %}
  {% block footer %}{% endblock %}
  </div>
</body>
</html>
