body {font-family:Helveltica,sans-serif;background-color:#eee;}
.home-cell a {text-decoration:none;border-bottom:1px dotted #666;background-color:#eee;
    color:#697E33;font-weight:bold;}
#home-wrapper {margin:9.5em auto;width:914px;padding:20px;
    background-color: #ddd;border-bottom:5px solid #666}
.home-column {width:452px;margin-right:10px;float:left;}
.home-column+.home-column {margin-right:0;}
.home-cell {width:400px;background-color:#fff;margin-bottom:10px;
    border:1px #666 solid;padding:25px;}
.home-cell h3 {margin-bottom:.25em;}
.home-image-cell {padding:0 25px;}
.home-head-image {display:block;width:450px;margin:.5em 0 .5em -25px;
    border:1px solid #666;border-right-width:0;border-left-width:0;}
.home-image-cell .home-head-image {margin: 0 0 0 -25px;border:none;}
p {margin-bottom:.5em;line-height:1.4em;font-size:1em;}


.clearfix:before,.clearfix:after {content:" ";display:table;}
.clearfix:after {clear:both;}
.clearfix {*zoom:1;}