<div id=parameters_wrap class=visuallyhidden>
  <div id=parameters_bkgd></div>
  <div id=parameters>

    <div id=parameter_tabs_wrap>
      <ul id=parameter_tabs class=clearfix>
        <li class=selected  data-pane=policy_parameters>Policy</li>
        <li data-pane=climate_parameters>Climate</li>
        <li data-pane=economy_parameters>Economy</li>
        <li data-pane=technology_parameters>Technology</li>
        <li data-pane=energy_parameters>Energy</li>
        <li data-pane=discount_parameters>Discount</li>
        <li data-pane=model_parameters>Model</li>
        <li id=run_clear>
          <input id=clear_model type=button value="Clear Model" form=parameter_form>
          <input id=run_model type=submit value="Run Model" form=parameter_form>
        </li>
      </ul>
    </div>
    <form id=parameter_form class=clearfix action=/run/{{ dice_version }}>

      {% include 'modules/parameters/2010/policy.html' %}
      {% include 'modules/parameters/2010/climate.html' %}
      {% include 'modules/parameters/2010/economy.html' %}
      {% include 'modules/parameters/2010/technology.html' %}
      {% include 'modules/parameters/2010/energy.html' %}
      {% include 'modules/parameters/2010/discount.html' %}
      {% include 'modules/parameters/2010/model.html' %}




    </form>
  </div>
</div>