<section id=climate_parameters class="pane clearfix">

  <div class=parameter-pane-intro>
    <p>TKTK</p>
  </div>


  <div class="parameter-pane thirds">

    <div class=range-wrap>
      <label><span class="parameter-name">Climate sensitivity</span>
        <input name=temp_co2_doubling type=range min=1 max=5 value=3 step=0.5
               data-prec=1 data-default=3>
      </label>
      <div class=current-range-val>
        <span style=left:0>2.0</span>
      </div>
      <span class=min-range-val>1</span>
      <span class=max-range-val>5</span>
      <div class=tick-wrap>
        <span class=tick style=left:0>&bullet;</span>
      </div>
    </div>
    <div class=parameter-help>
      <p>How much will temperatures go up? Or: how much will temperature
        increase in degrees C from a doubling of atmospheric CO<sub>2</sub>?</p>
    </div>

  </div>

  <div class="parameter-pane thirds">

    <div class=range-wrap>
      <label><span class="parameter-name">Harms</span>
        <input name=damages_exponent type=range min=1 max=4 value=2 step=0.5
               data-prec=1 data-default=2>
      </label>
      <div class=current-range-val>
        <span style=left:-16.6%>2.0</span>
      </div>
      <span class=min-range-val>1</span>
      <span class=max-range-val>4</span>
      <div class=tick-wrap>
        <span class=tick style=left:-16.6% >&bullet;</span>
      </div>
    </div>
    <div class=parameter-help>
      <p>How large will the harms to the climate be, due to an increase
        in temperatures?</p>
    </div>

  </div>



</section>