<div id=parameters_wrap class=visuallyhidden>
  <div id=parameters_bkgd></div>
  <div id=parameters>

    <div id=parameter_tabs_wrap>
      <ul id=parameter_tabs class=clearfix>
        <li class=selected  data-pane=policy>Policy</li>
        <li data-pane=climate_parameters>Climate</li>
        <li data-pane=economy_parameters>Economy</li>
        <li data-pane=technology_parameters>Technology</li>
        <li data-pane=energy_parameters>Energy</li>
        <li data-pane=discount_parameters>Discount</li>
      </ul>
    </div>
    <form id=parameter_form class=clearfix>

    {% include 'modules/parameters_policy.html' %}
    {% include 'modules/parameters_climate.html' %}
    {% include 'modules/parameters_economy.html' %}
    {% include 'modules/parameters_technology.html' %}
    {% include 'modules/parameters_energy.html' %}
    {% include 'modules/parameters_discount.html' %}

    </form>
  </div>
</div>