{% extends 'base_page.html' %}
{% block headjs -%}
  <script type="text/javascript">
    Options = window.Options || { };
    Options.measurements = {{ measurements|safe }};
    Options.locations = {{ graph_locations|safe }};
    Options.graphs = {{  graph_names|safe }};
    Options.dice_version = {% if dice_version %}{{ dice_version|safe }}{% else %}2007{% endif %};
  </script>
{%- endblock %}
{% block mainlink %}<div id="back-to-rdcep">Switch to:
  <a href="/basic">Basic</a>
  {%- for v in other_versions -%}
  <a href="/advanced/{{ v }}">Advanced {{ v }}</a>
  {%- endfor -%}
  </div>{% endblock %}
{% block doclinks %}
  <li><a target="_blank" href="/webdice/static/docs/webdice_advanced_faq.pdf">Basic</a></li>
  <li><a target="_blank" href="/webdice/static/docs/webdice_advanced_manual.pdf">Intermediate</a></li>
  <li><a target="_blank" href="/webdice/static/docs/webdice_equation_help.pdf">Equations</a></li>
{% endblock %}

{% block text -%}
  {# paragraphs_html|safe #}
{%- endblock %}
{% block xaxis -%}
{% for group in dropdowns -%}
<optgroup label="-- {{ group.name }} --"></optgroup>
{% for option in group.options -%}
<option value="{{ option.machine_name }}">{{ option.name }}</option>
{% endfor %}
{%- endfor %}
{%- endblock %}
{% block yaxis -%}
{% for group in dropdowns -%}
<optgroup label="-- {{ group.name }} --"></optgroup>
{% for option in group.options -%}
<option value="{{ option.machine_name }}">{{ option.name }}</option>
{%- endfor %}
{%- endfor %}
{%- endblock %}
{% block help %}{% for parameter in all_parameters %}{% if parameter.help %}
  <div class="help-text" id="{{ parameter.machine_name }}-help">{{ parameter.help|safe }}
  </div>{% endif %}{% endfor %}
{% endblock %}

{% block bodyjs %}
  {{ super() }}
  <script src="{{ url_for('webdice.static', filename='js/webdice_range_slider.js') }}?{{ now }}"></script>
  <script src="{{ url_for('webdice.static', filename='js/webdice_tabs.js') }}?{{ now }}"></script>
{% endblock %}
