{% extends 'base.html' %}
{% block page %}
  <header id="main_nav">
    <nav>
      <ul id="top_nav" class="clearfix">
        <li><a href="{{ url_for('webdice.index') }}">WebDICE</a></li>
        <li><a href="{{ url_for('webdice.basic') }}">Standard</a></li>
        <li id="advanced_pages">
          <a class="dead-hover">Advanced</a>
          <ul>
            <li><a href="{{ url_for('webdice.advanced', year=2007) }}">2007</a></li>
            <li><a href="{{ url_for('webdice.advanced', year=2010) }}">2010</a></li>
          </ul>
        </li>
        <li><a href>Documentation</a><ul>
          <!-- switch help forbasic and advanced -->
          <li><a target=_blank href="{{ url_for('webdice.static', filename='docs/webdice_basic_help.pdf') }}">Basic</a></li>
          <li><a target=_blank href="{{ url_for('webdice.static', filename='docs/webdice_intermediate_help.pdf') }}">Intermediate</a></li>
          <li><a target=_blank href="{{ url_for('webdice.static', filename='docs/webdice_equation_help.pdf') }}">Equations</a></li>
          <li><a target=_blank href="https://www.github.com/RDCEP/chicagowebdice/">View source</a></li>
        </ul></li>
      </ul>
    </nav>
    <div id=title_legend_wrap>
      <div id=title_legend>
        <ul class=tabs>
          <li id=link-to-essential data-pane=essential_graphs class="graph-tab selected">Essential</li>
          <li id=link-to-climate data-pane=climate_graphs class=graph-tab>Climate</li>
          <li id=link-to-economy data-pane=economy_graphs class=graph-tab>Economy</li>
          <li id=link-to-policy data-pane=policy_graphs class=graph-tab>Policy</li>
          <li id=link-to-custom data-pane=custom_graph class=graph-tab>Customizable</li>
{#          <li id=link-to-scc-graph data-pane=scc_graph class=graph-tab>SCC</li>#}
        </ul>
        <ul id=parameters_and_runs class=tabs>
          <li id=parameters_tab data-pane=parameters class=option-tab>Parameters</li>
          <li id=runs_tab data-pane=runs class=option-tab>Runs</li>
        </ul>
      </div>
    </div>
  </header>

  <article id="main_content">

{#  <div id="sidebar">#}
{#  {% block sidebar %}{% endblock %}#}
{#  </div>#}

  {% block content %}
  <div id=graphs_wrap>

    <div id=graphs_bkgd></div>

    <div id="essential_graphs" class="pane chart-pane selected">
      <div class="small-chart chart" id="temp_atmosphere_chart"><div class="bkgd"></div></div>
      <div class="small-chart chart" id="consumption_pc_chart"><div class="bkgd"></div></div>
      <div class="small-chart chart" id="mass_atmosphere_chart"><div class="bkgd"></div></div>
      <div class="small-chart chart" id="emissions_total_chart"><div class="bkgd"></div></div>
    </div>
    <div id="climate_graphs" class="pane chart-pane">
      <div class="small-chart chart" id="mass_upper_chart"></div>
      <div class="small-chart chart" id="mass_lower_chart"></div>
      <div class="small-chart chart" id="temp_lower_chart"></div>
    </div>
    <div id="economy_graphs" class="pane chart-pane">
      <div class="small-chart chart" id="productivity_chart"></div>
      <div class="small-chart chart" id="backstop_growth_chart"></div>
      <div class="small-chart chart" id="carbon_intensity_chart"></div>
      <div class="small-chart chart" id="damages_chart"></div>
    </div>
    <div id="policy_graphs" class="pane chart-pane">
      <div class="small-chart chart" id="tax_rate_chart"></div>
      <div class="small-chart chart" id="scc_chart"></div>
      <div class="small-chart chart" id="abatement_chart"></div>
      <div class="small-chart chart" id="output_abate_chart"></div>
    </div>
    <div id="custom_graph" class="pane chart-pane">
      <div id="large-graph">
        <div id="large-graph-chart chart" style="height:90%;"></div>
        <div id="large-graph-zoom chart" style="height:10%;"></div>
      </div>
      <div id="graph-controls">
        <div>
          <h2>X-Axis</h2>
          <select id="select-x-axis">
            <option value="year">Year</option>
            {% block xaxis %}{% endblock %}
           </select>
           <label><input type="checkbox" id="logarithmic-x"> Logarithmic</label>
        </div>
        <div>
          <h2>Y-Axis</h2>
          <select id="select-y-axis">
            {% block yaxis %}{% endblock %}
          </select>
          <label><input type="checkbox" id="logarithmic-y"> Logarithmic</label>
        </div>
        <div>
          <h2>Labels</h2>
          <select id="series-labels">
            <option value="none">None</option>
            <option value="years">Years</option>
          </select>
        </div>
      </div>
    </div>
{#    <div id="scc_graph" class="pane chart-pane"></div> #}
  </div>
  {% block parameters %}{% endblock %}
  {% include 'modules/runs.html' %}
  {% endblock %}
  </article>
  <div id="help-wrapper">
  {% block help %}{% endblock %}
  </div>

{% block bodyjs %}
<script src="{{ url_for('webdice.static', filename='js/stacked_chart.js') }}?{{ now }}"></script>
<script src="{{ url_for('webdice.static', filename='js/webdice_param_eq.js') }}?{{ now }}"></script>
<script src="{{ url_for('webdice.static', filename='js/main.js') }}?{{ now }}"></script>

{% endblock %}
{% endblock %}