<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>RDCEP :: WebDICE</title>
  <link rel="stylesheet" href="/static/css/styles.css?{{ now }}" type="text/css" media="screen" title="Default Stylesheet"/>
  <link rel="stylesheet" type="text/css" media="screen, projection" href="/static/css/fd-slider.min.css" />
  <script src="/static/js/fd-slider.min.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  {% block headcss %}{% endblock %}
  {% block headjs %}{% endblock %}
</head>
<body>
    <h1 id="heading"> <span>RDCEP</span> :: <a href="/">WebDICE</a></h1>
{% block mainlink %}<div id="back-to-rdcep"><a href="http://www.rdcep.org/">Back to RDCEP</a></div>{% endblock %}
<ul id="help-menu">
  <li id="display-help">Documentation<ul>
    <li><a target="_blank" href="/static/docs/webdice_basic_help.pdf">Basic</a></li>
    <li><a target="_blank" href="/static/docs/webdice_intermediate_help.pdf">Intermediate</a></li>
    <li><a target="_blank" href="/static/docs/webdice_equation_help.pdf">Equations</a></li>
  </ul></li>
  <li id="view-source"><a href="https://www.github.com/RDCEP/chicagowebdice/" target="_blank">View Source</a></li>
</ul>
{% block page %}
<div id="sidebar">
{% block sidebar %}{% endblock %}
</div>
<div id="content" class="hasnoruns">
  <div class="tabs">
    <a href="#" id="link-to-essential-graphs" class="selected">Essential</a>
    <a href="#" id="link-to-climate-graphs">Climate</a>
    <a href="#" id="link-to-economy-graphs">Economy</a>
    <a href="#" id="link-to-policy-graphs">Policy</a>
    <a href="#" id="link-to-custom-graph">Customizable</a>
    <a href="#" id="link-to-scc-graph">SCC</a>
  </div>
  <div class="initial">
  {% block text %}{% endblock %}
  </div>
  <div id="essential-graphs" class="tab selected"></div>
  <div id="climate-graphs" class="tab notselected"></div>
  <div id="economy-graphs" class="tab notselected"></div>
  <div id="policy-graphs" class="tab notselected"></div>
  <div id="custom-graph" class="tab notselected">
    <div id="large-graph">
        <div id="large-graph-chart" style="height:90%;"></div>
        <div id="large-graph-zoom" style="height:10%;"></div>
    </div>
    <div id="graph-controls">
      <div>
        <h2>X-Axis</h2>
        <select id="select-x-axis">
          <option value="year">Year</option>
{% block xaxis %}{% endblock %}
         </select>
         <label><input type="checkbox" id="logarithmic-x"/> Logarithmic</label>
      </div>
      <div>
        <h2>Y-Axis</h2>
        <select id="select-y-axis">
{% block yaxis %}{% endblock %}
        </select>
        <label><input type="checkbox" id="logarithmic-y"/> Logarithmic</label>
      </div>
      <div>
        <h2>Labels</h2>
        <select id="series-labels">
          <option value="none">None</option>
          <option value="years">Years</option>
        </select>
      </div>
    </div>
  </div>
  <div id="scc-graph" class="tab notselected">
  </div>
  <form method="post" id="download-data" action="/csv" target="_blank">
    <textarea name="data" id="download-textarea"></textarea>
    <input type="submit" value="Download Selected Runs as CSV"/>
  </form>
</div>
<div id="help-wrapper">
{% block help %}{% endblock %}
</div>
{% endblock %}
{% block bodyjs %}{% endblock %}
</body>
</html>
