<div id=parameters_wrap class="pane visuallyhidden" data-pane=parameters>
  <div id=parameters_bkgd></div>
  <div id=parameters>

    <div id=parameter_tabs_wrap>
      <ul id=parameter_tabs class=clearfix>
        <li class=selected  data-pane=policy_parameters>Policy</li>
        <li data-pane=climate_parameters>Climate</li>
        <li data-pane=economy_parameters>Economy</li>
        <li data-pane=technology_parameters>Technology</li>
        <li data-pane=energy_parameters>Fossil fuels</li>
        <li data-pane=discount_parameters>Welfare</li>
        <li data-pane=model_parameters>Damages</li>
        <li id=run_clear>
          <input id=clear_model type=button value="Clear Model">
          <input id=run_model type=submit value="Run Model">
          <img class=loader_gif src="{{ url_for('webdice.static', filename='images/gui/loadinfo_1.gif') }}">
        </li>
      </ul>
    </div>
    <form id=parameter_form class="clearfix advanced" action=/run/{% if dice_version %}{{ dice_version|safe }}{% else %}standard{% endif %}>
      {% block parameter_includes %}
      {% endblock %}
    </form>
  </div>
</div>