<section id=policy_parameters class="pane selected clearfix">

  <div class=parameter-pane-intro>
    <p>You can choose among four types of policies. Business as usual is
      exactly that—no policy TKTK. Choosing an optimized policy
      allows the computer to choose an emissions reduction plan that
      will maximize social utility. Or you can simulate a simple global
      carbon tax, or global climate treaty.</p>
  </div>
  <div class=parameter-pane
       style="border-top:1px solid #ccc;border-bottom:1px solid #ccc;float:none;padding-top:1em;">
    <label>
      <input type=radio value=default name=policy_type data-default=default checked>
      <span class=parameter-name>Business as usual</span>
    </label>
  </div>
  <div class="parameter-pane fourths">
    <label>
      <input type=radio value=optimized name=policy_type data-default=default>
      <span class=parameter-name>Optimized policy</span>
    </label>

    <div class=parameter-help>
      <p class=disabled>Be aware that optimized policies can take about ten
        seconds to run, depending on your input parameters—and a bit longer
        longer if you’re using a BEAM carbon cycle.</p>
    </div>

  </div>

  <div class="parameter-pane fourths">
    <label>
      <input type=radio value=carbon_tax name=policy_type data-default=default>
      <span class=parameter-name>Simulated carbon tax</span>
    </label>

    <h4 class=disabled>Tax rate<br>
      <span class=unit>($/ton&nbsp;C)</span>
    </h4>

    <ul>

      <li class="disabled init-disabled range-wrap">
        <label><span class=parameter-name>2050</span>
          <span class=current-range-val>0</span>
          <input name=c2050 type=range min=0 max=500 value=0 step=10
                 data-prec=0 data-default=null disabled>
        </label>

        <span class=min-range-val>0</span>
        <span class=max-range-val>500</span>
        <div class=tick-wrap>
          <span class=tick style=left:-50% >&bullet;</span>
        </div>
      </li>

      <li class="disabled init-disabled range-wrap" >
        <label><span class=parameter-name>2100</span>
          <span class=current-range-val>0</span>
          <input name=c2100 type=range min=0 max=500 value=0 step=10
                 data-prec=0 data-default=null disabled>
        </label>

        <span class=min-range-val>0</span>
        <span class=max-range-val>500</span>
        <div class=tick-wrap>
          <span class=tick style=left:-50% >&bullet;</span>
        </div>
      </li>

      <li class="disabled init-disabled range-wrap" >
        <label><span class=parameter-name>2150</span>
          <span class=current-range-val>0</span>
          <input name=c2150 type=range min=0 max=500 value=0 step=10
                 data-prec=0 data-default=null disabled>
        </label>

        <span class=min-range-val>0</span>
        <span class=max-range-val>500</span>
        <div class=tick-wrap>
          <span class=tick style=left:-50% >&bullet;</span>
        </div>
      </li>
    </ul>

  </div>

  <div class="parameter-pane halfs" style=width:375px;>
    <label>
      <input type=radio value=treaty name=policy_type data-default=default>
      <span class=parameter-name>Climate Treaty</span>
    </label>

    <div style=width:157.5px;margin-right:60px;float:left;>

      <h4 class=disabled>Emissions reduction<br>
        <span class=unit>(%&nbsp;2005&nbsp;emissions)</span>
      </h4>

      <ul>
        <li class="disabled init-disabled range-wrap">
          <label><span class=parameter-name>2050</span>
            <span class=current-range-val>100</span>
            <input name=e2050 type=range min=0 max=100 value=0 step=1
                   data-prec=0 data-default=null class=reverse disabled>
          </label>

          <span class=min-range-val>100</span>
          <span class=max-range-val>0</span>
          <div class=tick-wrap>
            <span class=tick style=left:-50% >&bullet;</span>
          </div>
        </li>

        <li class="disabled init-disabled range-wrap" >
          <label><span class=parameter-name>2100</span>
            <span class=current-range-val>100</span>
            <input name=e2100 type=range min=0 max=100 value=0 step=1
                   data-prec=0 data-default=null class=reverse disabled>
          </label>

          <span class=min-range-val>100</span>
          <span class=max-range-val>0</span>
          <div class=tick-wrap>
            <span class=tick style=left:-50% >&bullet;</span>
          </div>
        </li>

        <li class="disabled init-disabled range-wrap" >
          <label><span class=parameter-name>2150</span>
            <span class=current-range-val>100</span>
            <input name=e2150 type=range min=0 max=100 value=0 step=1
                   data-prec=0 data-default=null class=reverse disabled>
          </label>

          <span class=min-range-val>100</span>
          <span class=max-range-val>0</span>
          <div class=tick-wrap>
            <span class=tick style=left:-50% >&bullet;</span>
          </div>
        </li>
      </ul>

      <div class=parameter-help>
        <p class=disabled>Sliders <em>decrease</em> in value, as
          smaller numbers indicate more aggressive emissions reductions.</p>
      </div>

    </div>

    <div style=width:157.5px;float:left;>

      <h4 class=disabled>Participation<br>
        <span class=unit>(% of globe)</span>
      </h4>

      <ul>

        <li class="disabled init-disabled range-wrap">
          <label><span class=parameter-name>2050</span>
            <span class=current-range-val>100</span>
            <input name=p2050 type=range min=0 max=100 value=100 step=1
                   data-prec=0 data-default=null disabled>
          </label>

          <span class=min-range-val>0</span>
          <span class=max-range-val>100</span>
          <div class=tick-wrap>
            <span class=tick style=left:50% >&bullet;</span>
          </div>
        </li>

        <li class="disabled init-disabled range-wrap" >
          <label><span class=parameter-name>2100</span>
            <span class=current-range-val>100</span>
            <input name=p2100 type=range min=0 max=100 value=100 step=1
                   data-prec=0 data-default=null disabled>
          </label>

          <span class=min-range-val>0</span>
          <span class=max-range-val>100</span>
          <div class=tick-wrap>
            <span class=tick style=left:50% >&bullet;</span>
          </div>
        </li>

        <li class="disabled init-disabled range-wrap" >
          <label><span class=parameter-name>2150</span>
            <span class=current-range-val>100</span>
            <input name=p2150 type=range min=0 max=100 value=100 step=1
                   data-prec=0 data-default=null disabled>
          </label>

          <span class=min-range-val>0</span>
          <span class=max-range-val>100</span>
          <div class=tick-wrap>
            <span class=tick style=left:50% >&bullet;</span>
          </div>
        </li>

      </ul>

    </div>
  </div>

</section>